@font-face {
    font-family: 'IRANSans';
    src: url('../fnt/IRANSansX-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANSans';
    src: url('../fnt/IRANSansX-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'IRANSans', sans-serif;
}

* {
    font-family: 'IRANSans', sans-serif;
}
